<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Database</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Welcome to the World Soccer Database!</h1>
        <form action="/team" method="post" class="text-center">
            <div class="input-group mb-3 mx-auto" style="max-width: 400px;">
                <input type="text" name="team" class="form-control" placeholder="Search any team...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search Team</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

